[Unit]
Description=Check Arduino LED Controller updates

[Timer]
OnBootSec=15min
OnUnitActiveSec=6h
RandomizedDelaySec=20min
Persistent=true
Unit=arduino-led-controller-update.service

[Install]
WantedBy=timers.target
